.TreeCell > div {
    display: -webkit-flex;
    align-items: center;
}

.TreeCell-toggle {
    width: 0;
    height: 0;
    margin: 0;
    outline: none;
    -webkit-appearance: none;
    border-left: 10px solid gray;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    -webkit-transition: -webkit-transform .1s ease-in-out;
}

.TreeCell-toggle:hover {
    cursor: pointer;
    border-left: 10px solid #AEAEAE;

}

.TreeCell-toggle:checked {
    -webkit-transform: rotate(90deg);
}

.TreeCell-toggle-invisible {
    visibility: hidden;
}

.TreeCell .TreeCell-button {
    -webkit-appearance: none;
    display: -webkit-flex;
    font-family: inherit;
    font-size: inherit;
    background: none;
    text-align: left;
    border-radius: 0;
    min-height: 20px;
    outline: none;
    min-width: 0;
    border: none;
    height: auto;
    padding: 0;
    margin: 0 0 0 8px;
}

.TreeCell .TreeCell-button:hover,
.TreeCell .TreeCell-button:active,
.TreeCell .TreeCell-button:focus {
    background-color: transparent;
    border-color: transparent;
}

.TreeCell .TreeCell-label {
    padding: 2px 6px;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
}

.TreeCell .TreeCell-label--selected {
    background-color: #E7E7E7;
    border-radius: 6px;
}
