.TreeCell > div {
    display: -flex;
    align-items: center;
}

.TreeCell-toggle {
    width: 0;
    height: 0;
    margin: 0;
    outline: none;
    -webkit-appearance: none;
    border-left: 10px solid gray;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    -webkit-transition: -webkit-transform .1s ease-in-out;
}

.TreeCell-toggle:hover {
    cursor: pointer;
    border-left: 10px solid #AEAEAE;

}

.TreeCell-toggle:checked {
    -webkit-transform: rotate(90deg);
}

.TreeCell-toggle-invisible {
    visibility: hidden;
}

.TreeCell .TreeCell-label {
    padding: 2px 6px;
    margin-left: 6px;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
}

.TreeCell.selected .TreeCell-label {
    background-color: #1F1F1F;
    border-radius: 6px;
}

.TreeCell .TreeCell-label:hover {
    cursor: pointer;
}

.TreeCell-type {
    margin-left: auto;
}
